
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      DATE (desc) /URL
    </th>
    <th>
      FORMAT
    </th>
    <th>
      ACTION
    </th>
  </tr>
  </thead>
  <tbody>
  <% profiles.each do |profile| %>
    <tr>
      <td>
        <%= profile.friendly_time %>
        <br/>
        <%= link_to(truncate(profile.url, length: 50), profile.url, target: '_blank') %>
      </td>
      <td>
        <%= link_to @routes.ruby_prof_rails_profile_path(profile.id) do %>
          <i class="glyphicon glyphicon-download-alt"></i>
          <%= profile.printer %>
        <% end %>
      </td>
      <td>
        <%= link_to(@routes.ruby_prof_rails_profile_path(profile.id), method: :delete, data: { confirm: 'Please confirm you want to delete this profile.' }) do %>
          <i class="glyphicon glyphicon-remove"></i>
          delete
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
