%table.table.table-striped
  %thead
    %tr
      %th
        DATE/URL
      %th
        FORMAT
      %th
        ACTION
  %tbody
    - @profiles.each do |profile|
      - file_hash = profile.hash
      %tr
        %td
          = Time.at(file_hash[:time].to_i).strftime('%Y-%m-%d %I:%M:%S %Z')
          %br
          = link_to(file_hash[:url], file_hash[:url], target: '_blank')
        %td
          = link_to(action: 'show', id: profile.id ) do
            %i.glyphicon.glyphicon-download-alt
            = file_hash[:printer]
        %td
          = link_to({action: 'destroy', id: profile.id}, method: :delete, data: { confirm: 'Please confirm you want to delete this profile.' }) do
            %i.glyphicon.glyphicon-remove
            delete
