- if @enable_config

  = form_tag({action: 'update'}, {id: 'config', role: 'form', method: 'post'}) do
    %fieldset

      - ruby_prof_options_style = @config[:enabled] ? 'display: none;' : ''
      #ruby_prof_options{style: ruby_prof_options_style}

        = render partial: 'bootstrap_modal', locals: {id: 'printers', title: 'Printers'}
        .row
          .col-lg-12
            - RubyProf::Rails::Printer.list.each do |printer|
              .checkbox
                %label
                  = check_box_tag 'printers[]', printer, Array(@config[:printers]).include?(printer)
                  = printer


        = render partial: 'bootstrap_modal', locals: {id: 'measurement', title: 'Measurement'}
        .row
          .col-lg-12
            = select_tag :measurement, options_for_select(['Process Time', 'Wall Time', 'CPU Time', 'Allocation', 'Memory Usage', 'Garbage Collection', 'Garbage Collection Time'], @config[:measurement]), {class: 'form-control'}


        = render partial: 'bootstrap_modal', locals: {id: 'eliminate_methods', title: 'Eliminate Method Patterns', optional: true}
        .row
          .col-lg-12
            = text_area_tag :eliminate_methods, Array(@config[:eliminate_methods]).join("\n"), {class: 'form-control'}
            .help a list of regular expressions (line separated text)

        = render partial: 'bootstrap_modal', locals: {id: 'exclude_threads', title: 'Eliminate Thread Patterns', optional: true}

        .row
          .col-lg-12
            = text_area_tag :exclude_threads, Array(@config[:exclude_threads]).join("\n"), {class: 'form-control'}
            .help a list of regular expressions (line separated text)

      .spacer
      .row
        .col-lg-12
          -if @config[:enabled]
            =button_tag 'Stop Profiling' , name: 'stop', value: 1, class: 'btn btn-danger btn-lg btn-block' , type: :submit
          -else
            =button_tag 'Start Profiling' , name: 'start', value: 1, class: 'btn btn-success btn-lg btn-block' , type: :submit

      - if !@config[:enabled]
        .spacer
        #results
          = render 'profiles'
