!!!
%html
  %head
    %title Rails Ruby Prof
    %meta{:charset => "utf-8"}/
    = stylesheet_link_tag    "ruby_prof/rails/application", media: "all"
    = javascript_include_tag "ruby_prof/rails/application"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
  %body
    .layout
      .row
        .header
          %h1 Rails Ruby Prof
          %h4 Configure Ruby-Prof for your Rails application
      .row
        .content
          .spacer
          = content_tag :div, flash[:alert], {class: 'alert alert-danger'} if flash[:alert]
          = content_tag :div, flash[:notice], {class: 'alert alert-success'} if flash[:notice]
          = content_tag :div, flash[:warning], {class: 'alert alert-warning'} if flash[:warning]
          = yield